/MessageSystem/.classpath
/MessageSystem/.project
/MessageSystem/.settings/.jsdtscope
/MessageSystem/.settings/org.eclipse.core.resources.prefs
/MessageSystem/.settings/org.eclipse.jdt.core.prefs
/MessageSystem/.settings/org.eclipse.m2e.core.prefs
/MessageSystem/.settings/org.eclipse.wst.common.component
/MessageSystem/.settings/org.eclipse.wst.common.project.facet.core.xml
/MessageSystem/.settings/org.eclipse.wst.jsdt.ui.superType.container
/MessageSystem/.settings/org.eclipse.wst.jsdt.ui.superType.name
/MessageSystem/.settings/org.eclipse.wst.validation.prefs
